<div class="row">
  <div class="col-sm-2"><%= item_type.name %></div>
  <div class="col-sm-6"><%= item_type.description %></div>
  <div class="col-sm-2 text-center"><%= item_type.items.length %></div>
  <div class="col-sm-2 text-center"><%= item_type.item_property_definitions.length %></div>
</div>
