<div id="prop-def-<%= prop_def.id %>" class="col-sm-3">
  <div class="well well-sm">
    <div class="row">
      <div class="col-xs-9"><%= prop_def.name %></div>
      <div class="col-xs-3 text-right destroy-item-property-def">&times;</div>
    </div>
  </div>
</div>
