<div class="col-sm-12 item-type-properties">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">Defined Properties
          <a class="btn btn-xs btn-default add-item-type-property" href="#">Add +</a>
          <a class="btn btn-xs btn-default update-item-type" href="#">Edit</a>
          <%= link_to "Remove", destroy_item_type_path(item_type), class: 'btn btn-xs btn-danger', data: {confirm: "Are you sure you want to delete '#{item_type.name}'?"}, method: :delete, remote: true %>
        </div>
        <div class="panel-body">
          <div class="row properties-list">
            <% if defs.length == 0 %>
              <div class="col-sm-12">
                <div class="alert alert-info">No properties defined.</div>
              </div>
            <% else %>
              <% defs.each do |prop_def| %>
                <%= render 'item_type_property', :prop_def => prop_def %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
