
<div class="row">
  <div class="col-lg-12">
    <div id="error-message" class="alert alert-danger collapse" role="alert">
      <h4>Errors detected:</h4>
      <ul></ul>
    </div>
  </div>
</div>

<script>
  $(function() {
    $("form").on("ajax:error", function(event, xhr, status, error) {
      if (xhr.responseText.length > 0) {
        handleErrors($.parseJSON(xhr.responseText).errors);
      } else {
        notify("An error ocurred during form submission.");
        this.modal('hide');
      }
    }).on("ajax:beforeSend submit", function(event, xhr, settings) {
      $("#error-message").hide();
    });
  });

  function handleErrors(errors) {
    var errorDiv = $("#error-message");
    var errorList = errorDiv.find("ul");

    errorList.empty();
    for (var i = 0; i < errors.length; i++) {
      errorList.append($("<li>")
               .append($("<span>", {class: "sr-only"}))
               .append($("<span>", {class: "error-item", html: errors[i]})));
    }

    if (errors.length > 0 && !errorDiv.is(":visible"))
      errorDiv.fadeIn(250);
  }
</script>
